h1{
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto ;
    width: 300px;
}

td{
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
    background-color: gray;
}

th{
    padding: 20px 20px 0px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

form {
    border: 2px solid black;
    background-color: greenyellow;
    padding: 40px 20px 40px 20px;
    border-left: 10%;
    border-right: 10%;
}

fieldset{
    background-color: white;
}

label{
    display: inline-block;
    width: 10%;
}

textarea,input{
    width: 10%;
}

.boton{
    text-align: center;
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
}